@tailwind base;
@tailwind components;
@tailwind utilities;



/*this help for hide the scroll bar*/
::-webkit-scrollbar {
  display: none;
}


html {
  scrollbar-width: none;
}


body {
  -ms-overflow-style: none;
}
